# Enicar Connect Global Ignore
.idea/
.vscode/
*.iml
*.log
.DS_Store
.tools/
requirements.txt

# Env variables
.env

# Backend Ignores
enicar-connect-backend/target/
enicar-connect-backend/*.jar
enicar-connect-backend/*.war
enicar-connect-backend/.mvn/
enicar-connect-backend/mvnw
enicar-connect-backend/mvnw.cmd
enicar-connect-backend/database.mv.db
enicar-connect-backend/database.trace.db

# Frontend Ignores
enicar-connect-frontend/node_modules/
enicar-connect-frontend/dist/
enicar-connect-frontend/tmp/
enicar-connect-frontend/out-tsc/
enicar-connect-frontend/bazel-out/
enicar-connect-frontend/.pnp
enicar-connect-frontend/.pnp.js
enicar-connect-frontend/.angular/
